.fa-heart,
.fa-heart-o {
  cursor: pointer;
}

.container {
  margin: 4rem;
}

.pagination .active:hover {
  color: #fff;
}

.main-nav {
  flex-flow: row;
  flex-wrap: nowrap !important;
}

.new-movie {
  width: 120px;
  margin-bottom: 1rem;
}

.search-bar {
  margin: -1rem 0;
}

.mb--2 {
  margin-bottom: -1rem;
}
