.fa-heart,
.fa-heart-o {
  cursor: pointer;
}

main.container {
  margin: 2rem;
}

.pagination .active:hover {
  color: #fff;
}

.main-nav {
  flex-flow: row;
  flex-wrap: nowrap !important;
}

.new-movie {
  width: 120px;
  margin-bottom: 1rem;
}

.search-bar {
  margin: -1rem 0;
}

.mb--2 {
  margin-bottom: -1rem;
}

.list-group-col {
  flex: 0 0 25%;
  max-width: 25%;
}

@media (max-width: 800px) {
  .list-group-col {
    flex: 0 0 100%;
    max-width: 100%;
    margin-left: -1.55rem;
  }
}

@media (max-width: 650px) {
  main.container {
    margin: 2rem 1rem;
  }
}

@media (max-width: 550px) {
  main.container {
    margin: 2rem 0rem;
  }
}
